<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipies Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#" (click)="onSelect('recipie')">Recipies</a></li>
        <li><a href="#" (click)="onSelect('shopping-list')">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toogle" role="button">Manage<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save data</a></li>
            <li><a href="#">Fetch data</a></li>
          </ul>

        </li>
      </ul>
    </div>
  </div>

</nav>
