<app-header (featureSelected)="onNavigate($event)"></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipies *ngIf="loadedFeature ==='recipie'"></app-recipies>
      <app-shopping-list *ngIf="loadedFeature ==='recipie'"></app-shopping-list>
    </div>
  </div>
 </div>
