<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success"> New recipies </button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a href="#"
    class="list-group-item clearfix"
    *ngFor="let recipies of recipies">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ recipies.name}}</h4>
        <p class="list-group-item-text">{{ recipies.description}}</p>
      </div>
      <span class="pull-right">
        <img
        [src]= "recipies.imagePath"
        alt="{{ recipies.name }}"
        class="img-responsive" style="max-height: 50px;">
      </span>
    </a>
      <app-recipie-item></app-recipie-item>
  </div>
</div>




