<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
  <h1>Recipies Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toogle">
        Manage Recipie<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">To Shopping list</a></li>
      <li><a href="#">Edit Recepie</a></li>
      <li><a href="#">Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Descriotions
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      Ingridients
    </div>
  </div>

